@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');
body{
    background-color: hsla(205, 21%, 81%, 1);
    font-family: 'DM Mono', monospace;
    font-style: italic;
}

h1{
    background-color: white;
    border-radius: 10px;
    max-width:400px;
    text-align: center;
    margin: auto;
    padding:15px;   
}

div{
    background-color: white;
    border-radius: 10px;
    max-width: fit-content;
    padding: 15px;
    margin: auto;
    margin-top: 30px;
}
